body{
background: #007bff;
background: linear-gradient(to right, #0062E6, #33AEFF);
}

.App{
  font-family: sans-serif;
 
}
.card{
  transition:0.90s;
}
.card:hover{
  
    /* box-shadow: 0 0 3px black; */
    margin-top: 0.1px;
  } 

.card{
  /* border: 2px solid rgb(37, 37, 37); */
  width: 250px;
  height: 450px;
  margin-top: 100px;
  text-align: center;
  border-radius: 8px;
  background-color: azure;
}

.mav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-content:space-evenly; */
  gap: 10px;
 
}
